.Login {
    background-image: url('../Register/images/fond.png');
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 750px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    opacity: 0.6;
}


.LoginForm input,
button {
    margin: 4px;
    width: 399px;
    height: 50px;
    font-size: 20px;
}

.LoginForm button {
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .Login {
        background-size: 350px;
        font-size: 11px;
    }
}
@media screen and (max-width: 500px) {
    .Login {

        background-size: 290px;
        font-size: 11px;
    }
}

@media screen and (max-width: 500px) {
    .LoginForm input {

        width: 250px;

    }
}

@media screen and (max-width: 500px) {
    .LoginForm button {

        width: 250px;

    }
}