.Navbar {
    width: 100%;
    height: 70px;
    background-color: #0e213fde;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.Navbar a {
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;


}

.Navbar a:hover {
    cursor: pointer;

}

@media screen and (max-width: 500px) {
    .Navbar {

        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .Navbar a {

        font-size: 15px;
    }
}